pipeline/copy.json
{
	"name": "copy",
	"properties": {
		"activities": [
			{
				"name": "Lookup_Config",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"wildcardFileName": "*",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "Dynamic_CSV",
						"type": "DatasetReference",
						"parameters": {
							"container": "bronze",
							"folder": "config",
							"file": "config.csv"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach_Config_Row",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup_Config",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup_Config').output.value\n",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "If_Source_Type",
							"type": "IfCondition",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@equals(item().source_type, 'sql_server')",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "Copy_CSV_To_ADLS",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "DelimitedTextSource",
												"storeSettings": {
													"type": "AzureBlobStorageReadSettings",
													"recursive": false,
													"enablePartitionDiscovery": false
												},
												"formatSettings": {
													"type": "DelimitedTextReadSettings"
												}
											},
											"sink": {
												"type": "ParquetSink",
												"storeSettings": {
													"type": "AzureBlobStorageWriteSettings"
												},
												"formatSettings": {
													"type": "ParquetWriteSettings"
												}
											},
											"enableStaging": false,
											"translator": {
												"type": "TabularTranslator",
												"typeConversion": true,
												"typeConversionSettings": {
													"allowDataTruncation": true,
													"treatBooleanAsNumber": false
												}
											}
										},
										"inputs": [
											{
												"referenceName": "Dynamic_CSV",
												"type": "DatasetReference",
												"parameters": {
													"container": "@item().source_container",
													"folder": "@item().source_folder",
													"file": "@item().source_file"
												}
											}
										],
										"outputs": [
											{
												"referenceName": "parquet_dynamic",
												"type": "DatasetReference",
												"parameters": {
													"container": {
														"value": "@item().target_container",
														"type": "Expression"
													},
													"folder": {
														"value": "@item().target_sub_path",
														"type": "Expression"
													},
													"file": {
														"value": "@concat(\n  item().source_name,\n  '_',\n  formatDateTime(utcNow(),'yyyyMMdd_HHmmss'),\n  '.parquet'\n)",
														"type": "Expression"
													}
												}
											}
										]
									}
								],
								"ifTrueActivities": [
									{
										"name": "Copy_SQL_To_ADLS",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "SqlServerSource",
												"sqlReaderQuery": {
													"value": "@concat(\n  'SELECT * FROM ',\n  item().sql_schema,\n  '.',\n  item().sql_table\n)\n",
													"type": "Expression"
												},
												"queryTimeout": "02:00:00",
												"partitionOption": "None"
											},
											"sink": {
												"type": "ParquetSink",
												"storeSettings": {
													"type": "AzureBlobStorageWriteSettings"
												},
												"formatSettings": {
													"type": "ParquetWriteSettings"
												}
											},
											"enableStaging": false,
											"translator": {
												"type": "TabularTranslator",
												"typeConversion": true,
												"typeConversionSettings": {
													"allowDataTruncation": true,
													"treatBooleanAsNumber": false
												}
											}
										},
										"inputs": [
											{
												"referenceName": "DSSQLTable",
												"type": "DatasetReference"
											}
										],
										"outputs": [
											{
												"referenceName": "parquet_dynamic",
												"type": "DatasetReference",
												"parameters": {
													"container": {
														"value": "@item().target_container",
														"type": "Expression"
													},
													"folder": {
														"value": "@item().target_sub_path",
														"type": "Expression"
													},
													"file": {
														"value": "@concat(\n  item().source_name,\n  '_',\n  formatDateTime(utcNow(), 'yyyyMMdd_HHmmss'),\n  '.parquet'\n)",
														"type": "Expression"
													}
												}
											}
										]
									}
								]
							}
						}
					]
				}
			}
		],
		"annotations": []
	}
}